.console {
	position: fixed;
	max-height: 100%;
	top: 0;
	/* TEMP */
	right: 0;
	/* left: 50%; */
	/* min-width: 50%; */
	border: 1em solid orange;
	/* transform: translate(-50%); */
	z-index: 9999;
}
