body {
	font-size: 32pt;
	font-family: sans-serif;
  overflow-x: hidden;
}

/** Coordinated HTML and SVG layers. */
.space > .html, .space > svg {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;
	user-select: none;
}
.space > svg {
	overflow: visible;
	pointer-events: none;
}
/* This is probably a bad idea as it will throw off mouse coordinates */
/* .space > .html, .space .everything { */
/* 	transform: scale(1.5); */
/* } */
/* .space > .html { */
/* 	transform-origin: top left; */
/* } */

/* Triple store graphs */
.property {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 66%;
	box-sizing: border-box;
	/* background: rgba(170, 204, 238, .5); */
	background-color: rgba(255, 128, 128, .2);
	border-radius: 0 50% 50% 0;
	transform-origin: center left;
	/* border: 1px solid black; */
	text-align: center;
	margin: 0;
}

/* Examples */
.example .space {
	position: relative;
	width: 100%;
	min-height: 100vh;
	border: 1px solid red;
	box-sizing: border-box;
}
.example .panes {
	display: flex;
}
.example .panes > .description,
.example .panes > .representation {
	flex: 50%;
}

.graph-path:nth-of-type(1) { stroke-width: 0.4em; stroke: red; }
.graph-path:nth-of-type(2) { stroke-width: 0.6em; stroke: orange; }
.graph-path:nth-of-type(3) { stroke-width: 0.8em; stroke: yellow; }
.graph-path:nth-of-type(4) { stroke-width: 1.0rem; stroke: green; }
.graph-path:nth-of-type(5) { stroke-width: 1.2em; stroke: blue; }
.graph-path:nth-of-type(6) { stroke-width: 1.4em; stroke: indigo; }
.graph-path:nth-of-type(7) { stroke-width: 1.6em; stroke: violet; }

.graph-path {
	stroke: gray;
	stroke-width: 0.5em;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
	opacity: .1;
}
.graph-path.search {
	stroke: red;
	stroke-dasharray: 0.3;
}

.node {
	box-sizing: border-box;
	position: absolute;
	/* border: 1px solid red; */
}
/* DEBUG
.node::before {
	position: absolute;
	content: '';
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	background: rgba(255, 0, 0, .5);
	transform: translate(-50%, -50%);
}
*/
.node-content {
	padding: 0.75em;
	text-align: center;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	cursor: pointer;
	user-select: none;
}

.node-content:hover {
	background: rgba(255, 255, 0, .5);
}

.graph-edge {
	stroke-width: 3;
	stroke: rgba(0, 0, 0, .25);
}
#boggle .graph-edge {
	stroke: rgba(0, 0, 0, .025);
}
/* There are way too many, and they're not readable. */
#boggle .property {
	display: none;
}

.trie-node {
	background: #EEE;
	font-family: monospace;
	border-radius: 50%;
	padding: 0.33em;
}
.trie-node[data-is-match="yes"] {
	background-color: rgba(255, 255, 0, 0.5);
}
.trie-node[data-is-match="no"] {
	background-color: rgba(255, 0, 0, 0.5);
}
.trie-node[data-is-terminal="yes"] {
	background-color: rgba(0, 255, 0, 0.5);
}
.trie-node .token {
	
}
.trie-node .count {
	display: none;
}

