body {
	font-family: sans-serif;
}
.forcefield {
	width: 100%;
	min-height: 50vh;
	border: 1px solid red;
	position: relative;
}
.forcefield > .nodes, #boggle-paths {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;
}
#boggle-paths {
	overflow: visible;
}
#boggle-paths path {
	stroke-width: 3;
	fill: none;
	opacity: .5;
}

#boggle-paths path:nth-child(1) { stroke-width: 4; stroke: red; }
#boggle-paths path:nth-child(2) { stroke-width: 8; stroke: orange; }
#boggle-paths path:nth-child(3) { stroke-width: 12; stroke: yellow; }
#boggle-paths path:nth-child(4) { stroke-width: 16; stroke: green; }
#boggle-paths path:nth-child(5) { stroke-width: 20; stroke: blue; }
#boggle-paths path:nth-child(6) { stroke-width: 24; stroke: indigo; }
#boggle-paths path:nth-child(7) { stroke-width: 28; stroke: violet; }

.node {
	position: absolute;
	top: 0;
	left: 0;
}
