html {
	padding: 0;
	border: none;
}
body {
	font-family: 'FiraSansCondensed', sans-serif;
	color: #222;
	overflow-x: hidden;
	margin: 0;
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
}
