.layers {
  position: absolute;
  border: 1em solid #f00;
  width: 60%;
  height: 60%;
  box-sizing: border-box;
  transition: 0.2s;
  transform-style: preserve-3d;
  perspective: 10em;
  perspective-origin: center;
}
.layer {
  position: absolute;
  background: rgba(204,204,204,0.5);
  padding: 1em;
  transition: 0.2s;
  box-sizing: border-box;
  transform-origin: center;
}
.layers :nth-child(2) {
  transform: translate3d(0, 0, -2em);
  filter: blur(2px);
}
.layers :nth-child(3) {
  transform: translate3d(0, 0, -3em);
  filter: blur(3px);
}
.layers :nth-child(4) {
  transform: translate3d(0, 0, -4em);
  filter: blur(4px);
}
.layers :nth-child(5) {
  transform: translate3d(0, 0, -5em);
  filter: blur(5px);
}
.layers :nth-child(6) {
  transform: translate3d(0, 0, -6em);
  filter: blur(6px);
}
.layers :nth-child(7) {
  transform: translate3d(0, 0, -7em);
  filter: blur(7px);
}
.layers :nth-child(8) {
  transform: translate3d(0, 0, -8em);
  filter: blur(8px);
}
.layers :nth-child(9) {
  transform: translate3d(0, 0, -9em);
  filter: blur(9px);
}
.layers :nth-child(10) {
  transform: translate3d(0, 0, -10em);
  filter: blur(10px);
}
.layers :nth-child(11) {
  transform: translate3d(0, 0, -11em);
  filter: blur(11px);
}
.layers :nth-child(12) {
  transform: translate3d(0, 0, -12em);
  filter: blur(12px);
}
.layers :nth-child(13) {
  transform: translate3d(0, 0, -13em);
  filter: blur(13px);
}
.layers :nth-child(14) {
  transform: translate3d(0, 0, -14em);
  filter: blur(14px);
}
.layers :nth-child(15) {
  transform: translate3d(0, 0, -15em);
  filter: blur(15px);
}
.layers :nth-child(16) {
  transform: translate3d(0, 0, -16em);
  filter: blur(16px);
}
.layers :nth-child(17) {
  transform: translate3d(0, 0, -17em);
  filter: blur(17px);
}
.layers :nth-child(18) {
  transform: translate3d(0, 0, -18em);
  filter: blur(18px);
}
.layers :nth-child(19) {
  transform: translate3d(0, 0, -19em);
  filter: blur(19px);
}
.layers :nth-child(20) {
  transform: translate3d(0, 0, -20em);
  filter: blur(20px);
}
.layers :nth-child(21) {
  transform: translate3d(0, 0, -21em);
  filter: blur(21px);
}
.layers :nth-child(22) {
  transform: translate3d(0, 0, -22em);
  filter: blur(22px);
}
.layers :nth-child(23) {
  transform: translate3d(0, 0, -23em);
  filter: blur(23px);
}
.layers :nth-child(24) {
  transform: translate3d(0, 0, -24em);
  filter: blur(24px);
}
.layers :nth-child(25) {
  transform: translate3d(0, 0, -25em);
  filter: blur(25px);
}
.layers :nth-child(26) {
  transform: translate3d(0, 0, -26em);
  filter: blur(26px);
}
.layers :nth-child(27) {
  transform: translate3d(0, 0, -27em);
  filter: blur(27px);
}
.layers :nth-child(28) {
  transform: translate3d(0, 0, -28em);
  filter: blur(28px);
}
.layers :nth-child(29) {
  transform: translate3d(0, 0, -29em);
  filter: blur(29px);
}
.layers :nth-child(30) {
  transform: translate3d(0, 0, -30em);
  filter: blur(30px);
}
.layers :nth-child(31) {
  transform: translate3d(0, 0, -31em);
  filter: blur(31px);
}
.layers :nth-child(32) {
  transform: translate3d(0, 0, -32em);
  filter: blur(32px);
}
.layers :nth-child(33) {
  transform: translate3d(0, 0, -33em);
  filter: blur(33px);
}
.layers :nth-child(34) {
  transform: translate3d(0, 0, -34em);
  filter: blur(34px);
}
.layers :nth-child(35) {
  transform: translate3d(0, 0, -35em);
  filter: blur(35px);
}
.layers :nth-child(36) {
  transform: translate3d(0, 0, -36em);
  filter: blur(36px);
}
.layers :nth-child(37) {
  transform: translate3d(0, 0, -37em);
  filter: blur(37px);
}
.layers :nth-child(38) {
  transform: translate3d(0, 0, -38em);
  filter: blur(38px);
}
.layers :nth-child(39) {
  transform: translate3d(0, 0, -39em);
  filter: blur(39px);
}
.layers :nth-child(40) {
  transform: translate3d(0, 0, -40em);
  filter: blur(40px);
}
.layers :nth-child(41) {
  transform: translate3d(0, 0, -41em);
  filter: blur(41px);
}
.layers :nth-child(42) {
  transform: translate3d(0, 0, -42em);
  filter: blur(42px);
}
.layers :nth-child(43) {
  transform: translate3d(0, 0, -43em);
  filter: blur(43px);
}
.layers :nth-child(44) {
  transform: translate3d(0, 0, -44em);
  filter: blur(44px);
}
.layers :nth-child(45) {
  transform: translate3d(0, 0, -45em);
  filter: blur(45px);
}
.layers :nth-child(46) {
  transform: translate3d(0, 0, -46em);
  filter: blur(46px);
}
.layers :nth-child(47) {
  transform: translate3d(0, 0, -47em);
  filter: blur(47px);
}
.layers :nth-child(48) {
  transform: translate3d(0, 0, -48em);
  filter: blur(48px);
}
.layers :nth-child(49) {
  transform: translate3d(0, 0, -49em);
  filter: blur(49px);
}
.layers :nth-child(50) {
  transform: translate3d(0, 0, -50em);
  filter: blur(50px);
}
.layers :nth-child(51) {
  transform: translate3d(0, 0, -51em);
  filter: blur(51px);
}
.layers :nth-child(52) {
  transform: translate3d(0, 0, -52em);
  filter: blur(52px);
}
.layers :nth-child(53) {
  transform: translate3d(0, 0, -53em);
  filter: blur(53px);
}
.layers :nth-child(54) {
  transform: translate3d(0, 0, -54em);
  filter: blur(54px);
}
.layers :nth-child(55) {
  transform: translate3d(0, 0, -55em);
  filter: blur(55px);
}
.layers :nth-child(56) {
  transform: translate3d(0, 0, -56em);
  filter: blur(56px);
}
.layers :nth-child(57) {
  transform: translate3d(0, 0, -57em);
  filter: blur(57px);
}
.layers :nth-child(58) {
  transform: translate3d(0, 0, -58em);
  filter: blur(58px);
}
.layers :nth-child(59) {
  transform: translate3d(0, 0, -59em);
  filter: blur(59px);
}
.layers :nth-child(60) {
  transform: translate3d(0, 0, -60em);
  filter: blur(60px);
}
.layers :nth-child(61) {
  transform: translate3d(0, 0, -61em);
  filter: blur(61px);
}
.layers :nth-child(62) {
  transform: translate3d(0, 0, -62em);
  filter: blur(62px);
}
.layers :nth-child(63) {
  transform: translate3d(0, 0, -63em);
  filter: blur(63px);
}
.layers :nth-child(64) {
  transform: translate3d(0, 0, -64em);
  filter: blur(64px);
}
.layers :nth-child(65) {
  transform: translate3d(0, 0, -65em);
  filter: blur(65px);
}
.layers :nth-child(66) {
  transform: translate3d(0, 0, -66em);
  filter: blur(66px);
}
.layers :nth-child(67) {
  transform: translate3d(0, 0, -67em);
  filter: blur(67px);
}
.layers :nth-child(68) {
  transform: translate3d(0, 0, -68em);
  filter: blur(68px);
}
.layers :nth-child(69) {
  transform: translate3d(0, 0, -69em);
  filter: blur(69px);
}
.layers :nth-child(70) {
  transform: translate3d(0, 0, -70em);
  filter: blur(70px);
}
.layers :nth-child(71) {
  transform: translate3d(0, 0, -71em);
  filter: blur(71px);
}
.layers :nth-child(72) {
  transform: translate3d(0, 0, -72em);
  filter: blur(72px);
}
.layers :nth-child(73) {
  transform: translate3d(0, 0, -73em);
  filter: blur(73px);
}
.layers :nth-child(74) {
  transform: translate3d(0, 0, -74em);
  filter: blur(74px);
}
.layers :nth-child(75) {
  transform: translate3d(0, 0, -75em);
  filter: blur(75px);
}
.layers :nth-child(76) {
  transform: translate3d(0, 0, -76em);
  filter: blur(76px);
}
.layers :nth-child(77) {
  transform: translate3d(0, 0, -77em);
  filter: blur(77px);
}
.layers :nth-child(78) {
  transform: translate3d(0, 0, -78em);
  filter: blur(78px);
}
.layers :nth-child(79) {
  transform: translate3d(0, 0, -79em);
  filter: blur(79px);
}
.layers :nth-child(80) {
  transform: translate3d(0, 0, -80em);
  filter: blur(80px);
}
.layers :nth-child(81) {
  transform: translate3d(0, 0, -81em);
  filter: blur(81px);
}
.layers :nth-child(82) {
  transform: translate3d(0, 0, -82em);
  filter: blur(82px);
}
.layers :nth-child(83) {
  transform: translate3d(0, 0, -83em);
  filter: blur(83px);
}
.layers :nth-child(84) {
  transform: translate3d(0, 0, -84em);
  filter: blur(84px);
}
.layers :nth-child(85) {
  transform: translate3d(0, 0, -85em);
  filter: blur(85px);
}
.layers :nth-child(86) {
  transform: translate3d(0, 0, -86em);
  filter: blur(86px);
}
.layers :nth-child(87) {
  transform: translate3d(0, 0, -87em);
  filter: blur(87px);
}
.layers :nth-child(88) {
  transform: translate3d(0, 0, -88em);
  filter: blur(88px);
}
.layers :nth-child(89) {
  transform: translate3d(0, 0, -89em);
  filter: blur(89px);
}
.layers :nth-child(90) {
  transform: translate3d(0, 0, -90em);
  filter: blur(90px);
}
.layers :nth-child(91) {
  transform: translate3d(0, 0, -91em);
  filter: blur(91px);
}
.layers :nth-child(92) {
  transform: translate3d(0, 0, -92em);
  filter: blur(92px);
}
.layers :nth-child(93) {
  transform: translate3d(0, 0, -93em);
  filter: blur(93px);
}
.layers :nth-child(94) {
  transform: translate3d(0, 0, -94em);
  filter: blur(94px);
}
.layers :nth-child(95) {
  transform: translate3d(0, 0, -95em);
  filter: blur(95px);
}
.layers :nth-child(96) {
  transform: translate3d(0, 0, -96em);
  filter: blur(96px);
}
.layers :nth-child(97) {
  transform: translate3d(0, 0, -97em);
  filter: blur(97px);
}
.layers :nth-child(98) {
  transform: translate3d(0, 0, -98em);
  filter: blur(98px);
}
.layers :nth-child(99) {
  transform: translate3d(0, 0, -99em);
  filter: blur(99px);
}
.layers :nth-child(100) {
  transform: translate3d(0, 0, -100em);
  filter: blur(100px);
}
.layers-orig:hover .layer + .layer {
  transform: translate3d(0, 0, -1em);
  filter: blur(1px);
}
.layers-orig:hover .layer + .layer + .layer {
  transform: translate3d(0, 0, -2em);
  filter: blur(2px);
}
