// See note to value-view.styl
.layers
  position absolute
  border 1em solid red
  width 60%
  height 60%
  box-sizing border-box
  transition 0.2s
  transform-style preserve-3d
  perspective 10em
  perspective-origin center
  
.layer
  position absolute
  background rgba(#CCC, .5)
  padding 1em
  transition 0.2s
  box-sizing border-box
  transform-origin center

.layers
  for $n in 2..100
    //selector = '[data-layer="%s"]' % $n
    selector = ':nth-child(%s)' % $n
    {selector}
      transform translate3d(0, 0, $n * -1em)
      filter blur($n * 1px)
  
.layers-orig:hover
  .layer + .layer
    transform translate3d(0, 0, -1em)
    filter blur(1px)
  .layer + .layer + .layer
    transform translate3d(0, 0, -2em)
    filter blur(2px)
