@import types

*
  --context-recursion 90%

[drop-effect]
  outline 1em dotted red !important
  --luminosity 100%
  --alpha 100%

for i in 1..9
  .nth-child({i})
    --luminosity i * 10%

body[drop-effect]
  background white

.Vector
  border 1em solid yellow

for i in 1..9
  .Luminosity{i}
    --luminosity i * 10%

.Space
  // psych
  // > *
  //   position absolute
	
.Porthole
  Porthole()
  text-align center

.Value
  // Need some way to distinguish this visually
  border-radius 1em

.KeyValue
  // Put an arrow between the key and value
  display flex
  > *
    flex 1 1 auto
  > dt
    order 1
  > dd
    order 3
  &::after
    content '→'
    order 2
    align-self center
    font-size 200%

.Claim
  border 1em solid red
  > .plain
    display none

// Recursive rule: embedded context always shrinks font size by recursion
// factor.
.Context
  font-size var(--context-recursion)

.Box
  --box-width 1em
  --box-height 1em
  width var(--box-width)
  height var(--box-height)
	
// see only the box structure
// just need to make text invisible
//
// problem is, you can't target text nodes *per se* with CSS
// hdom does wrap text in spans by default, but I have that turned off
// 
//
// .Boxes
#hashtags > *
  // I enabled span for just this item to play with this
  p span
    display inline-block
    overflow hidden
    border-top-style solid
    border-left-style solid
    &:not(:hover)
      max-width 0
      max-height 0
