* {
  --context-recursion: 90%;
}
[drop-effect] {
  outline: 1em dotted #f00 !important;
  --luminosity: 100%;
  --alpha: 100%;
}
.nth-child(1) {
  --luminosity: 10%;
}
.nth-child(2) {
  --luminosity: 20%;
}
.nth-child(3) {
  --luminosity: 30%;
}
.nth-child(4) {
  --luminosity: 40%;
}
.nth-child(5) {
  --luminosity: 50%;
}
.nth-child(6) {
  --luminosity: 60%;
}
.nth-child(7) {
  --luminosity: 70%;
}
.nth-child(8) {
  --luminosity: 80%;
}
.nth-child(9) {
  --luminosity: 90%;
}
body[drop-effect] {
  background: #fff;
}
.Vector {
  border: 1em solid #ff0;
}
.Luminosity1 {
  --luminosity: 10%;
}
.Luminosity2 {
  --luminosity: 20%;
}
.Luminosity3 {
  --luminosity: 30%;
}
.Luminosity4 {
  --luminosity: 40%;
}
.Luminosity5 {
  --luminosity: 50%;
}
.Luminosity6 {
  --luminosity: 60%;
}
.Luminosity7 {
  --luminosity: 70%;
}
.Luminosity8 {
  --luminosity: 80%;
}
.Luminosity9 {
  --luminosity: 90%;
}
.Porthole {
  cursor: pointer;
  font-size: 100%;
  --type: "Indicator";
  --type: "Affordance";
  cursor: hand;
  border: 1em solid rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 2em -0.5em;
  --type: "Navigable";
  --type: "Lens";
  box-shadow: inset 0 0 2em -0.5em;
  --type: "Porthole";
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  overflow: hidden;
  background: #aaa;
  text-align: center;
}
.Porthole:hover {
  background: var(--indicator-color);
}
.Value {
  border-radius: 1em;
}
.KeyValuePair {
  display: flex;
}
.KeyValuePair > * {
  flex: 1 1 auto;
}
.KeyValuePair > dt {
  order: 1;
}
.KeyValuePair > dd {
  order: 3;
}
.KeyValuePair::after {
  content: "→";
  order: 2;
  align-self: center;
  font-size: 200%;
}
.Claim {
  border: 1em solid #f00;
}
.Claim > .plain {
  display: none;
}
.Context {
  font-size: var(--context-recursion);
}
.Box {
  --box-width: 1em;
  --box-height: 1em;
  width: var(--box-width);
  height: var(--box-height);
}
#hashtags > * p span {
  display: inline-block;
  overflow: hidden;
  border-top-style: solid;
  border-left-style: solid;
}
#hashtags > * p span:not(:hover) {
  max-width: 0;
  max-height: 0;
}
