* {
  --context-recursion: 90%;
}
[drop-effect] {
  outline: 1em dotted #f00 !important;
  --luminosity: 100%;
  --alpha: 100%;
}

/* this rule made no sense anyway but at least it's shorter now  */
:nth-child(1),
:nth-child(2),
:nth-child(3),
:nth-child(4),
:nth-child(5),
:nth-child(6),
:nth-child(7),
:nth-child(8),
:nth-child(9),
:nth-child(10) {
  /* --luminosity: calc(var(--child-index) * 10%); */
}

body[drop-effect] {
  background: #fff;
}
.Vector {
  border: 1em solid #ff0;
}
.Luminosity1 {
  --luminosity: 10%;
}
.Luminosity2 {
  --luminosity: 20%;
}
.Luminosity3 {
  --luminosity: 30%;
}
.Luminosity4 {
  --luminosity: 40%;
}
.Luminosity5 {
  --luminosity: 50%;
}
.Luminosity6 {
  --luminosity: 60%;
}
.Luminosity7 {
  --luminosity: 70%;
}
.Luminosity8 {
  --luminosity: 80%;
}
.Luminosity9 {
  --luminosity: 90%;
}

/* Models */
.model {
  display: flex;
}
.model::before {
  position: absolute; /* take out of flex  */
}
.model [data-part] {
  flex: 1 1 50%;
}
textarea.recipe {
  max-width: 40vw;
  min-height: 50vh;
}
textarea.recipe--assert {
  min-height: 10em;
}

.Value {
  border-radius: 1em;
}
.KeyValuePair {
  display: flex;
}
.KeyValuePair > * {
  flex: 1 1 auto;
}
.KeyValuePair > dt {
  order: 1;
}
.KeyValuePair > dd {
  order: 3;
}
.KeyValuePair::after {
  content: "→";
  order: 2;
  align-self: center;
  font-size: 200%;
}
.Claim {
  border: 1em solid #f00;
}
.Claim > .plain {
  display: none;
}
.Context {
  font-size: var(--context-recursion);
}
.Box {
  --box-width: 1em;
  --box-height: 1em;
  width: var(--box-width);
  height: var(--box-height);
}
