@import types

*
  --context-recursion 90%

[drop-effect]
  outline 1em solid red !important
  --luminosity 100%
  --alpha 100%
  
body[drop-effect]
  background white

.Vector
  border 1em solid yellow

for i in 1..9
  .Luminosity{i}
    --luminosity i * 10%

.Space
  // psych
  // > *
  //   position absolute
	
.Porthole
  Porthole()
  text-align center

.Claim
  border 1em solid red
  > .plain
    display none

// Recursive rule: embedded context always shrinks font size by recursion
// factor.
.Context
  font-size var(--context-recursion)

.Box
  --box-width 1em
  --box-height 1em
  width var(--box-width)
  height var(--box-height)
