[id]:not([id=""]) {
  --prefix: "#" attr(id);
  font-size: 100%;
  --type: "Indicator";
}
[id]:not([id=""])::before {
  font-size: 200%;
  background: #fff;
}
[class]:not([class=""]) {
  --type: "." attr(class);
}
[draggable="true"] {
  outline: 1em dotted rgba(0, 128, 0, 0.6);
}
:hover {
  --luminosity: 100%;
  --alpha: 66%;
  box-shadow: 0 0 2em -0.5em;
}
div:not([class]),
div[class=""] {
  border: 1em solid rgba(255, 0, 0, 0.5);
}
span {
  border-width: 0.2em;
  border-style: dashed;
  border-color: rgba(255, 0, 0, 0.5);
  display: block;
}
span:not([class])::before,
span[class=""]::before {
  display: none;
}
html {
  background: none;
}
body,
.Space {
  --type: "Space";
  background-color: var(--space-background);
}
main {
  margin: var(--main-margin);
}
p {
  --type: "¶";
  display: inline-block;
}
a {
  --type: "Navigable";
  display: inline-block;
  /* cursor: pointer;  default, isn't it? */
  /* font-size: 100%; why this? */
  border: 1em solid rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 2em -0.5em;
}
a:hover {
  background-color: var(--indicator-color);
}
dfn {
  display: inline-block;
}
ul {
  --type: "UnorderedList";
  display: inline-block;
  border-bottom: 1em solid #ffa500;
  counter-reset: array-item;
}
ol {
  --type: "OrderedList";
  display: inline-block;
}
li {
  --type: "Item";
  display: inline-block;
  counter-increment: array-item;
  --prefix: "Item " counter(array-item);
}
::marker {
  display: none;
}
dl {
  --type: "Dictionary";
  display: inline-block;
}
dt {
  --type: "Term";
}
dd {
  --type: "Definition";
  margin-inline-start: 0;
}
details {
  border: 1em solid rgba(255, 0, 0, 0.1);
}
/* An affordance... */
summary {
  --type: "Summary";
  display: block;
  font-size: 100%;
  border: 1em solid rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 2em -0.5em;
  cursor: pointer; /* summary is affordable */
}
/* Summary is affordable */
summary:hover {
  background-color: var(--indicator-color);
}
/* But where did the disclosure indicator go? */

aside {
  --type: "Aside";
  /* display: block; default, right? */
  border: 1em solid #ff0;
  float: right;
}
nav {
  --type: "Nav";
  /* display: block; default, right? */
}
article {
  --type: "Article";
  display: block;
  display: inline-block;
  --article-margin: 4em;
  margin: var(--article-margin);
  margin: 1em;
}
section {
  --type: "Section";
  display: block;
  margin-top: 1em;
}
header {
  --type: "Header";
  display: inline-block;
}
footer {
  --type: "Footer";
  display: inline-block;
}
figure {
  --type: "Figure";
  display: inline-block;
}
h1,
h2,
h3 {
  --type: "Heading";
}
blockquote {
  --type: "Quotation";
  box-shadow: inset 0 0 2em -0.5em;
  margin-left: 4em;
  --alpha: 0.6;
}
q {
  --type: "Quotation";
}
script {
  --type: "script";
  display: block;
  white-space: pre;
}
style {
  --type: "style";
  display: block;
  white-space: pre;
}
output,
output .Output {
  --type: "Output";
  border: 1em solid #808080 !important;
}
address {
  --type: "Address";
  display: inline-block;
}
cite {
  --type: "Citation";
  display: inline-block;
}
code {
  --type: "Code";
  display: inline-block;
}
p code,
p output {
  display: inline-block;
}
code,
output {
  display: inline-block;
}
i {
  --type: "Italic";
  display: inline-block;
}
s {
  --type: "Stricken";
  display: inline-block;
}
sub {
  --type: "Subscript";
  display: inline-block;
}
sup {
  --type: "Superscript";
  display: inline-block;
}
/* These inline/phrasing elements we don't necessarily want to “reify” so heavily */
* {
  --is-phrasing: 0;
}
a,
i,
b,
code,
s,
em,
sub,
sup {
  --is-phrasing: 1;
  --prefix: "";
}
