// Stylus <3 CSS variables.  Kind of.

// ========================= MIXINS

Thing()
  --type 'Thing'
  // background-color s('hsla(var(--hue), var(--saturation), var(--luminosity), var(--alpha))')
  &::before
    content '(' var(--type) ') '

Indicator
  font-size 100%
  // This will never show because below
  --type 'Indicator'

Affordance()
  Indicator()
  --type 'Affordance'
  cursor pointer
  border 1em solid green
  // Was curious... no such thing in Gecko.
  // &:active
  //   background #F00

  &:hover
    background var(--indicator-color)

Navigable()
  Affordance

Paragraph()
  --type '¶'

Collection()
  --type 'Collection'

List
  Collection
  // Type won't be seen because requires subtype.  But still
  --type 'List'

OrderedList()
  List
  --type 'OrderedList'

Vector()
  OrderedList
  --type 'Vector'

UnorderedList()
  Collection
  --type 'UnorderedList'
  border-bottom 1em solid orange

// =====================  ELEMENTS: GENERAL

// Global defaults
*
  Thing()
  transition 0.3s
  --body-background blue
  // --main-background rgba(white)

  --label-hue 0deg
  --label-saturation 100%
  --label-lumunosity 100%
  // --label-alpha 1
  --indicator-color #FAA

// ================================ ELEMENTS: SPECIAL

p
  Paragraph()

// Links are the holiest thing.
a
  Navigable()

ul
  UnorderedList()

ol
  OrderedList()

// How can you tell it's space?
body
.Space
  Space()
  margin 4rem
  background var(--body-background)

// How can you tell it's a label?
// label, .Label
//   background-color hsla(255 * var(--label-hue), 255 * var(--label-saturation), 255 * var(--label-luminosity), var(--label-alpha))

main
  --main-background white
  margin var(--main-margin)
  background var(--main-background)

// STATEFUL : might be in collapsed state
details
  border 1em solid rgba(red, 0.1)

// AFFORDANCE
// STATEFUL : might be in collapsed state
summary
  Affordance()

aside
  border 1em solid yellow
  float right
  // width 50%

// unit of portability
// unit of context
// unit of provenance
//
// It may be all those things, but does it afford moving?
// Does it afford etc?
article
  --article-margin 4em
  // border 2em solid rgba(black, 0.2)
  margin var(--article-margin)
  background rgba(black, 0.1)
  box-shadow 0 0 2em -0.5em
  margin 1em

section
  margin-top 1em
