// Stylus source for font-face rules.  Compile manually.
add(weight, variant, style = normal, name='FiraSansCondensed')
  @font-face
    font-family name
    font-style style
    font-weight weight
    // Assume CSS is in build/style
    src local(name + ' ' + variant), local(name + '-' + variant), url('../../fonts/' + name + '-' + variant + '.ttf') format('truetype')

add(100, 'Thin')
add(100, 'Thin', italic)
add(200, 'ExtraLight')
add(200, 'ExtraLightItalic', italic)
add(300, 'Light')
add(300, 'LightItalic', italic)
add(400, 'Regular')
add(400, 'Italic', italic)
add(500, 'Medium')
add(500, 'Medium', italic)
add(600, 'SemiBold')
add(600, 'SemiBoldItalic', italic)
add(700, 'Bold')
add(700, 'BoldItalic', italic)
add(800, 'ExtraBold')
add(800, 'ExtraBold', italic)
add(900, 'Black')
add(900, 'Black', italic)
