* {
  --type: 'Thing';
  box-sizing: border-box;
  transition: 0.3s;
  padding: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.5);
  background-color: hsla(var(--hue), var(--saturation), var(--luminosity), var(--alpha));
  --color: rgba(var(--pen-red), var(--pen-green), var(--pen-blue), var(--pen-alpha));
  color: var(--color);
  --prefix: var(--type);
  --space-background: #222;
  --hue: 0deg;
  --saturation: 0%;
  --luminosity: 50%;
  --alpha: 20%;
  --label-hue: 0deg;
  --label-saturation: 100%;
  --label-lumunosity: 100%;
  --indicator-color: #faa;
  --border-hue: 0deg;
  --border-saturation: 100%;
  --border-luminosity: 100%;
  --border-alpha: 1;
  --border-color: hsla(var(--border-hue), var(--border-saturation), var(--border-luminosity), var(--border-alpha));
}
*::before {
  opacity: 0.5;
  display: block;
  content: var(--prefix) '\00a0';
}
