.Stack
  --stack-blur-factor 
  PositioningContainer()
  transform-style preserve-3d
  perspective 10em
  // > :first-child ~ *
  //   filter blur(1px)
  for $n in 2..100
    > {':nth-child(%s)' % $n}
      transform translate3d(0, 0, $n * -1em)
      // filter blur($n * 1px)
      // filter s('blur(calc(%s * var(--stack-blur-factor)))' % ($n * 1px))
  
.Stack > *
  // Even this isn't necessary if you know the height a priori, you can use
  // negative margin to get offset.  But you would need to set position relative
  // to reverse z-ordering (if later items should not be on top).
  position absolute
  // transform-origin center
