body {
  font-family: sans-serif;
  margin: 4rem;
}
a {
  cursor: pointer;
}
:target {
  background: rgba(255,255,0,0.5);
}
aside {
  float: right;
  padding: 1em;
  border: 1em solid #ff0;
}
[id]::before {
  content: '§';
  margin-right: 0.5em;
  display: inline-block;
  text-decoration: none;
}
[id]:not(:hover)::before {
  opacity: 0.5;
}
h1 > a:first-child:last-child,
h2 > a:first-child:last-child {
  display: block;
}
