/* Space and forcefields. */
[typeof="Space"] {
  position: relative;
  /* Arbitrary.  If everything is a body in a space (and absolutely-positioned),
   * then it will have no natural height.
   */
  min-height: 50vh;

  /* Temp, just helps distinguish */
  /* background: black; */
  --luminosity: 10%;

  /* Possibly this should be contextual */
  overflow: hidden;
  box-shadow: inset 0 0 2em -0.5em;
}
/* Items in space are positioned (skipping placeholder elements) */
[typeof="Space"] > :not([data-dom-region]),
[typeof="Space"] > [data-dom-region] > * {
  position: absolute;
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  --luminosity: 50%; /* Reset to help offset elements against space */
}
