/* Space and forcefields. */
[typeof="Space"] {
  position: relative;
  /* Arbitrary.  If everything is a body in a space (and absolutely-positioned),
   * then it will have no natural height.
   */
  min-height: 80vh;

  /* Temp, just helps distinguish */
  /* background: black; */
  --luminosity: 10%;

  /* Possibly this should be contextual */
  overflow: hidden;
  box-shadow: inset 0 0 2em -0.5em;
}
/* Nested space (space within a space) */
[typeof="Space"] [typeof="Space"] {
  min-height: initial; /* reset rule that is only meant for flow position */

  /* border: 1em solid rgba(255, 255, 255, 0.1); */
  /* border: none; */
  /* background-image: radial-gradient( */
  /*   transparent, */
  /*   transparent 80%, */
  /*   red 80%, */
  /*   red 100% */
  /* ); */

  /* No: positioning container is (now) data-dom-region... */
  /* width: 25%; */
  /* height: 25%; */
  --space-width: 7em;
  --space-height: 7em;
  width: var(--space-width);
  height: var(--space-height);

  transition: transform 0.5s;
  transform-origin: center;
  transform-style: preserve3d;
  perspective-origin: center;
  perspective: 100rem;
}
/* [typeof="Space"] [typeof="Space"]:hover { */
/*   transform: translateZ(1rem); */
/* } */

/* For those special cases */
[typeof="Space"] {
  border-radius: 50%;
}
/* Items in space are positioned (skipping placeholder elements) */
[typeof="Space"] > :not([data-dom-region]),
[typeof="Space"] > [data-dom-region] > * {
  position: absolute;
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  /* Things in space should use their center as a reference point. */
  transform: translate(-50%, -50%);
  --luminosity: 50%; /* Reset to help offset elements against space */

  /* TEMP: see things in space as dots */
  /* beat default: anyway it's crazy to have a default transition on all properties */
  transition: none;
  /* background: rgba(255, 0, 0, 0.5); */
  /* width: 0.5em; */
  /* height: 0.5em; */
  /* padding: 0; */
  /* overflow: hidden; */
  /* border-radius: 50%; */
}
/* Objects in a space-within-a-space */
[typeof="Space"] [typeof="Space"] > :not([data-dom-region]),
[typeof="Space"] [typeof="Space"] > [data-dom-region] > * {
  /* background: red; */
  /* z-index: -1; */
}
/* Sorry, if you don't have this intermediate container, no centering. */
[typeof="Space"] > [data-dom-region] {
  position: absolute;
  top: 50%;
  left: 50%;
}
[typeof="Space"] > [data-dom-region] > [data-axis]::before,
[typeof="Space"] > [data-dom-region] > [data-axis]::after {
  display: none;
}
[typeof="Space"] > [data-dom-region] > [data-axis] {
  position: absolute;
  overflow: hidden;
  padding: 0;
  border: none;
}
[typeof="Space"] > [data-dom-region] > [data-axis="x"] {
  top: 0;
  left: 0;
  /*right: -50%;*/
  width: 100%;
  height: 1em;
  border-top: 3px dashed red; /* rgba(255, 255, 255, 0.5); */
}
[typeof="Space"] > [data-dom-region] > [data-axis="y"] {
  top: -50%;
  left: 0;
  width: 0;
  height: 100%;
  border-left: 3px dashed red; /* rgba(255, 255, 255, 0.5); */
}
[typeof="Panel"],
.panels {
  display: flex;
}
[typeof="Panel"] > *,
.panels > * {
  position: relative;
  flex: 1 1 50%;
}
